<mat-card>
    <form (submit)='onLogin(loginForm)' #loginForm = 'ngForm'>
        <h4 style="text-align: center; width: 100%;">Log In</h4>
        <mat-form-field class="form_field">
            <mat-label>Email</mat-label>
            <input
            matInput
            type="email"
            name = "email"
            ngModel
            #emailInput = 'ngModel'
            placeholder="Ex. pat@example.com"
            required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Password</mat-label>
            <input
            matInput
            type="password"
            name = "password"
            ngModel
            #passwordInput = 'ngModel'
            placeholder="Password"
            required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent" style="width: 100%;  margin-top: 2rem;">Login</button>

    </form>
  </mat-card>

