td {
    padding: 0.2rem;
}
tr {
    padding: 1rem;
}
tr {
    border: 1px solid #f2f2f2;
}

.mat-card {
   overflow-y: hidden !important;
   margin-top: 4rem;
}

.colorExpired {
    color: red;
}
button {
    margin-top: 1rem;
}

.mat-card-header {
    width: 100%;
    text-align: center;
}
