/* td {
    padding: 0.2rem;
}
tr {
    padding: 1rem;
}
tr {
    border: 1px solid #f2f2f2;
}

.mat-card {
   overflow-y: hidden !important;

}

.colorExpired {
    color: red;
}
button {
    margin-top: 0.5rem;
}

.mat-card-header {
    width: 100%;
    text-align: center;
}

.qrcode {
 visibility: hidden;   
}

.row-data {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    align-items:center;
}
.col-data {
    padding: 0.3rem;
    width: 30%;
} */

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
    padding: 1rem;
  }
  th {
      font-weight: bold;
  }
  td {
      padding: 0.5rem !important;
  }
  .qrcode {
    margin-bottom: 1rem;
   }
   #qrcode {
       padding: 1rem;
   }
   