<mat-tab-group mat-align-tabs="start" style="flex: 70%;">
    <mat-tab *ngFor="let itemTab of ArrayOrderTotal; index as indexTab">
        <ng-template mat-tab-label>
            <span
                matBadge="{{itemTab.arrOrders.length}}"
                matBadgeSize="medium"
                matBadgePosition="before" style="padding-left: 1rem;">{{itemTab.label}}</span>
        </ng-template>

        <section>
            <div *ngIf="itemTab.arrOrders.length === 0" style="padding-top: 1rem; text-align: center;">
              <span>Bạn chưa có {{itemTab.label}} nào! </span>
            </div>
            <button mat-button mat-stroked-button color="primary">{{'Tổng: ' + cost[indexTab] + 'đ'}}</button>
            <div class="row-data" style="padding-top: 1rem; font-weight: bold;">
                <div class="col-data">Ngay đặt</div>
                <div class="col-data">Ten vé</div>
                <div class="col-data">Dịch vụ</div>
                
                <div class="col-data">Số lượng</div>
                <div class="col-data">Tổng tiền</div>
                <div class="col-data" *ngIf="indexTab === 0">Xác nhận</div>
            </div>
            <mat-divider></mat-divider>
            <mat-card *ngIf="itemTab.arrOrders.length !== 0">
                <div class="row-data" *ngFor="let item of itemTab.arrOrders; index as i">
                    <div class="col-data">{{item.orders.dateStart + " - " + item.orders.dateEnd}}</div>
                    <div class="col-data">{{item.orders.nameTicket}}</div>
                    <div class="col-data">{{item.orders.itemService[0].name}}</div>
                    
                    <div class="col-data">
                      <div class="col-data-item" *ngFor="let itemService of item.orders.itemService">
                        {{itemService.quantity}}  x {{itemService.itemServiceName}}
                      </div>
                    </div>
                    <div class="col-data">{{item.price + 'đ'}}</div>
                    <div class="col-data" *ngIf="indexTab === 0">
                        <button mat-button mat-stroked-button color="warn"  style="width: 100%;" 
                            (click) = "CancelOrderManager(item.orders.id, item.orders.idCustomer)">Hủy</button>
                        <button mat-button mat-raised-button color="primary" style="width: 100%;"  
                            (click) = "ConfirmOrderManager(item.orders.id, item.orders.idCustomer, indexTab, i)">Xác nhận</button>
                    </div>
                </div>
                <div class="qrcode">
                    <img #canvas>
                    <qrcode #qrcode [qrdata]="qrcodeContent" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'img'" allowEmptyString="true"></qrcode>
                </div>

            </mat-card>
        </section>
    </mat-tab>
</mat-tab-group>
