<mat-tab-group mat-align-tabs="start" style="flex: 70%;">
    <mat-tab *ngFor="let itemTab of ArrayOrderTotal; index as indexTab">
        <ng-template mat-tab-label>
            <span
                matBadge="{{itemTab.arrOrders.length}}"
                matBadgeSize="medium"
                matBadgePosition="before" style="padding-left: 1rem;">{{itemTab.label}}</span>
        </ng-template>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="itemTab.arrOrders" matSort>

                <ng-container matColumnDef="qrcode" style=" width: 10%;">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <div class="qrcode">
                            <img #canvas>
                            <qrcode #qrcode 
                                [qrdata]="row.qrcode" 
                                [width]="40" 
                                [errorCorrectionLevel]="'M'" 
                                [elementType]="'img'" allowEmptyString="true"></qrcode>
                        </div>
                    </td>
                </ng-container>
          
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày đặt </th>
                    <td mat-cell *matCellDef="let row"> {{row.orders.dateStart + " - " + row.orders.dateEnd}} </td>
                </ng-container>

                <ng-container matColumnDef="nameTicket">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên vé </th>
                    <td mat-cell *matCellDef="let row"> {{row.orders.nameTicket}} </td>
                </ng-container>
          

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên dịch vụ </th>
                    <td mat-cell *matCellDef="let row"> {{row.orders.itemService[0].name}} </td>
                </ng-container>
          
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
                    
                    <td mat-cell *matCellDef="let row">
                        <div class="col-data-item" *ngFor="let itemService of row.orders.itemService">
                            {{itemService.quantity}}  x {{itemService.itemServiceName}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thanh toán </th>
                    <td mat-cell *matCellDef="let row"> {{row.price}}đ </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row" >
                        <button
                            *ngIf="indexTab === 0" 
                            mat-button mat-stroked-button color="warn"  style="width: 100%;" 
                            (click) = "CancelOrderManager(row.orders.id, row.orders.idCustomer)">Hủy</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="confirm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <button 
                            *ngIf="indexTab === 0"
                            mat-button mat-raised-button color="primary" style="width: 100%;"  
                            (click) = "ConfirmOrderManager(row.orders.id, row.orders.idCustomer, indexTab, i)">Xác nhận</button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </mat-tab>
</mat-tab-group>
