<div class="form_signup">
  <mat-card>
    <h1 class="logo_detail" style="color: rgb(153, 44, 255);">
      <span style="color: rgb(102, 160, 247);">Trip</span>Cheap
      <span style="color: rgb(0, 0, 0); font-size: 16px;">/Đăng ký</span>
    </h1>
    <form 
      (submit)='onSignUp(loginForm)' 
      #loginForm='ngForm'>
        <mat-form-field class="form_field">
            <mat-label>Tên người dùng</mat-label>
            <input
              matInput
              type="text"
              name = "username"
              ngModel
              #usernameInput = 'ngModel'
              placeholder="Username"
              required>
            <mat-error *ngIf="usernameInput.invalid">Vui lòng nhập tên người dùng.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              name = "email"
              ngModel
              #emailInput = 'ngModel'
              placeholder="Ex. pat@example.com"
              required email>
            <mat-error *ngIf="emailInput.invalid">Vui lòng nhập email.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Mật khẩu</mat-label>
            <input
              matInput
              type="password"
              name = "password"
              ngModel
              #passwordInput = 'ngModel'
              placeholder="Password"
              required>
            <mat-error *ngIf="passwordInput.invalid">Vui lòng nhập mật khẩu.</mat-error>
        </mat-form-field>

        <mat-form-field class="form_field">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <input
              matInput
              type="password"
              name = "re-password"
              ngModel
              #repasswordInput = 'ngModel'
              placeholder="re-password"
              required>
            <mat-error *ngIf="repasswordInput.invalid">Vui lòng nhập lại mật khẩu</mat-error>
        </mat-form-field>
        <button 
          type="submit" 
          mat-raised-button 
          color="primary" 
          style="width: 100%;  margin-top: 2rem;">Đăng ký</button>
        <div style="text-align: center; padding-top: 1rem;">
          <span>If you have account, </span> 
          <a mat-button href="/login" routerLinkActive="mat-accent">Đăng nhập</a>
        </div>
    </form>
  </mat-card>


</div>



