<mat-card>
  <h4>Thêm Vé Mới</h4>
  <form [formGroup] = "form" class="form_add_title" (ngSubmit) = 'onSaveTicket()'>
    <mat-form-field class="form_field">
      <mat-label>Tên vé</mat-label>
      <input
        matInput
        type="text"
        formControlName = "title"
        placeholder="Tên vé">
      <mat-error *ngIf="form.get('title').invalid">Please enter a ticket title.</mat-error>
    </mat-form-field>

    <mat-form-field class="form_field">
      <textarea
        matInput
        type="text"
        formControlName = "content"
        placeholder="Mô tả vé">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a ticket content.</mat-error>
    </mat-form-field>

    <mat-form-field class="form_field">
      <input
        matInput
        type="text"
        formControlName = "city"
        placeholder="Thành phố">
      <mat-error *ngIf="form.get('city').invalid">Please enter a city.</mat-error>
    </mat-form-field>

    <section class="section-check-stt" style="padding-top: 1rem ;">
      <mat-slide-toggle (change) = "checkStt()">
        <span *ngIf="isChecked == true">Public</span>
        <span *ngIf="isChecked != true">Un public</span>
      </mat-slide-toggle>
    </section>

    <div class="price">
      <mat-form-field class="priceItem1">
        <mat-label>Giá gốc</mat-label>
        <input
          matInput
          type="number"
          formControlName = "price_enter"
          [(ngModel)] = 'price'
          (change)="calPrice_reduce()">
      </mat-form-field>

      <mat-form-field class="priceItem2">
        <mat-label>Giảm </mat-label>
        <input
          matInput
          type="number"
          formControlName = "percent"
          [(ngModel)]="percent"
          (change)="calPrice_reduce()"
        >
        <mat-label> % </mat-label>
      </mat-form-field>

      <mat-form-field class="priceItem3">
        <mat-label>Giá sau giảm </mat-label>
        <input
          matInput type="number"
          formControlName = "price_reduce"
          value="{{price_reduce}}"
          ngModel
        >
        <mat-label>% </mat-label>
      </mat-form-field>
    </div>

    <div style="display: flex;">
      <mat-form-field style="flex: 50%;">
        <mat-label>Thể loại</mat-label>
        <mat-select
          [(value)] = 'selectItem'
          required
          (selectionChange)="changeSelectCategory($event.value)">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.name"
            name = "category">
            {{category.name}}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="selectItem.invalid">Please choose an category</mat-error> -->
      </mat-form-field>

      <mat-form-field style="padding-left: 2rem; flex: 50%;">
        <mat-label>Dịch vụ</mat-label>
        <mat-select
          [(value)] = 'valueItemSelect'>
          <mat-option
            *ngFor="let item of valueItem"
            [value] = "item"
            name = "categoryService">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change) = "onPickImage($event)">
    </div>
    <div class="image_preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <button type="submit" mat-raised-button color="primary" style="width: 100%;  margin-top: 2rem;">THÊM</button>

  </form>
</mat-card>
