.form_add_title {
  width: 100%;
}

.form_field {
  width: 100%;
}

.item-margin{
  margin: 0 10px;
}
.price{
  display: flex;
  padding-top: 2rem;
}
.priceItem1{
  width: 30%;
  padding-right: 1rem;
}
.priceItem2{
  width: 20%;
  padding-right: 3rem;
}
.priceItem3{
  width: 30%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

input[type="file"] {
  visibility: hidden;
}

.image_preview{
  margin: 1rem 0;
}

.image_preview img {
  height: 2rem;
  width: 4rem;
  width: auto;
  background-size: contain;
}

.image_upload{
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.image_upload_item{
  position: relative;
  width: 111px;
  height: 111px;
  border: 1px dashed purple;
  padding: 5px;
  margin: 1rem;
}

.mat-icon{
  position: absolute;
  top: 40%;
  color: purple;
  width: 111px;
  height: 111px;
  margin: 0 auto;
  text-align: center;
}