ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}
mat-icon{
  padding-right: 1rem;
}

.example-toolbar{
  position: fixed;
  z-index: 9999;
  width: 88%;
  box-shadow:  5px 5px 5px #f1f1f1;
  border-bottom: 0.5px solid #f1f1f1;
  background-color: white;
}

.example-container {
  background-color: none !important;
  height: 100vh;
}
.example-sidenav-content {
  padding-top: 5rem;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
  width: 12%;
  user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}

.logo_detail {
  font-weight: bolder;
  font-size: 25px;
  padding: 1rem;
}

.mat-list-item {
  padding: 0.5rem;
}

.mat-list-item:focus {
  background-color: rgb(252, 224, 229);
  color: rgb(61, 40, 80);
}
.material-icons {
  color: rgb(93, 56, 128);
}
