<mat-sidenav-container class="example-container">
	<mat-toolbar class="example-toolbar" *ngIf='userIsAuthenticated'>
	<!-- <span>
		<button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
	</span> -->
	<span class="spacer"></span>
	<ul>
		<span><img [src] = "user.imageAvt" width="35px" height="35px" style="border-radius: 50%;"></span>
		<li *ngIf='userIsAuthenticated'>
			<button
			mat-button
			[matMenuTriggerFor]="menu"
			routerLinkActive="mat-accent">
			<span>{{username}}</span>
			</button>
			<mat-menu #menu = "matMenu">
				<button mat-menu-item routerLink="setting"> Hồ sơ shop </button>
				<button mat-menu-item routerLinkActive="mat-accent" (click) = 'onLogout()'>Đăng xuất</button>
			</mat-menu>
		</li>
		<!-- <li *ngIf='userIsAuthenticated'>
		<button mat-menu-item routerLinkActive="mat-accent" (click) = 'onLogout()'>Logout</button>
		</li> -->
	</ul>
	</mat-toolbar>

	<mat-sidenav
    	#sidenav
    	class="example-sidenav"
    	mode="side" opened="true"
    	(click)="mouseenter()" (mouseleave)="mouseleave()"
		*ngIf="isExpanded">
		<mat-nav-list>
			<mat-list-item style="padding-bottom: 2rem; margin-top: -1rem;">
				<span>
					<button mat-icon-button routerLink="/home">
					  <h1 class="logo_detail" style="color: rgb(153, 44, 255); font-size: 30px;"><span style="color: rgb(102, 160, 247);font-size: 30px;">Trip</span>Cheap</h1>
					</button>
				</span>
			</mat-list-item>

			<mat-list-item routerLink="home">
				<img src="../../../assets/dashboard.svg" width="40px" height="40px">
				<span class="full-width" *ngIf="isExpanded || isShowing" style="padding-left: 1rem;">Dashboard</span>
			</mat-list-item>

			<mat-list-item routerLink="ticket">
				<img src="../../../assets/ticket.svg" width="40px" height="40px">
				<span class="full-width" *ngIf="isExpanded || isShowing"  style="padding-left: 1rem;">Quản lý vé</span>
			</mat-list-item>


			<mat-list-item routerLink="order">
				<img src="../../../assets/starred.svg" width="40px" height="40px">
				<span class="full-width" *ngIf="isExpanded || isShowing" style="padding-left: 1rem;">Quản Lý Đơn</span>
			</mat-list-item>

		</mat-nav-list>

	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
