/* You can add global styles to this file, and also import other style files */

body { margin: 0; }
.material-icons.orange600 { color: #FB8C00; }

* {
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    
}
p {
    line-height: 1.5rem;
}

li {
    list-style-type: none;
}