.form_add_title {
    width: 100%;
  }
  
  .form_field {
    width: 100%;
  }
  
  .item-margin{
    margin: 0 10px;
  }
  .price{
    display: flex;
    padding-top: 2rem;
  }
  .priceItem1{
    width: 30%;
    padding-right: 1rem;
  }
  .priceItem2{
    width: 20%;
    padding-right: 3rem;
  }
  .priceItem3{
    width: 30%;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .image_preview img {
    height: 100%;
    width: auto;
    background-size: contain;
  }
  input[type="file"] {
    visibility: hidden;
  }

  .image_preview{
    margin: 1rem 0;
  }
  .image_preview img {
    height: 4rem;
    width: 8rem;
    width: auto;
    background-size: contain;
  }
  .image img {
    height: 4rem;
    width: 8rem;
    width: auto;
    background-size: contain;
  }
  