table {
  width: 100%;
  position: relative;
  height: 200px;
  overflow: auto;
  box-shadow: 0 0 20px #f1f1f1;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-cell:first-of-type {
  padding-right: 24px ;
}
