<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name or city ..." #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource] = "dataSource" matSort >

    <ng-container matColumnDef="title" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên vé </th>
      <td mat-cell *matCellDef="let element">
        <p>{{element.title}} </p> </td>
    </ng-container>

    <ng-container matColumnDef="category" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Thể loại </th>
      <td mat-cell *matCellDef="let element">
        <p> {{element.category}}</p> </td>
    </ng-container>

    <ng-container matColumnDef="city" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành phố </th>
      <td mat-cell *matCellDef="let element"><p> {{element.city}} </p> </td>
    </ng-container>

    <ng-container matColumnDef="quantity" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
      <td mat-cell *matCellDef="let element"><p> {{element.quantity}} </p> </td>
    </ng-container>

    <!-- <ng-container matColumnDef = "image" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element">
        <img  *ngIf="userIsAuthenticated && userId === element.creator" [src]="element.imagePath" [alt]="element.title" width="40px" height="20px">
      </td>
    </ng-container> -->

    <ng-container matColumnDef="price_reduce" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá vé </th>
      <td mat-cell *matCellDef="let element" > <p> {{element.price_reduce}}</p> </td>
    </ng-container>

    <ng-container matColumnDef="edit" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <a
          mat-stroked-button
          color="primary"
          [routerLink] = "['edit/', element.id]"
          *ngIf="userIsAuthenticated && userId === element.creator">Sửa</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="userIsAuthenticated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-stroked-button
          color="warn"
          (click)="onDelete(element.id)"
          *ngIf="userIsAuthenticated && userId === element.creator">Xóa</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Bạn chưa có sản phẩm nào. Hãy tạo sản phẩm của mình."</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
