<mat-card style="padding: 4rem 5rem">
    <h2>Thông Tin Cá Nhân</h2>
    <p style="font-size: 16px; color: #999;">Thay đổi thông tin của bạn.</p>
    
    <div class="info">
        <div class="info1">
          <form [formGroup] = 'form'>
            <div class="image_cover_upload">
                <input type="file" #filePickerCover (change) = "onPickImage($event)">
                <img 
                    [src]="imagePreview" 
                    *ngIf="imagePreview !== '' && imagePreview && form.get('imageCover').valid">
                <button 
                mat-stroked-button 
                color="primary" 
                class="edit_image_cover" (click) = "filePickerCover.click()">Sửa ảnh bìa</button>
            </div>
            <div class="info_user">
                <div class="image_cover_upload_avt">
                    <input type="file" #filePickerAvt (change) = "onPickImageAvt($event)">
                    <img width="60px" height="60px"
                        [src]="imagePreviewAvt" 
                        *ngIf="imagePreviewAvt !== '' && imagePreviewAvt && form.get('imageAvt').valid">
                    <button 
                    mat-stroked-button 
                    color="primary" 
                    class="edit_image_cover" (click) = "filePickerAvt.click()">Sửa</button>
                </div>
                <div class="info_user_des">
                    <div>
                        <mat-list-item style="font-size: 18px; color: purple; font-weight: 500;">{{username || ''}}</mat-list-item>
                        <mat-list-item>Đã tham gia: {{createdAt}}</mat-list-item>
                    </div>
                </div>
            </div>
            <mat-form-field class="form_field" appearance="outline">
                <mat-label>Tên Đại Lý</mat-label>
                <input
                #inputName
                matInput
                minlength = '5'
                type="text"
                formControlName = "nameShop"
                placeholder="Tên Đại Lý">
                <mat-hint align = "end">{{inputName.value?.length || 0}}/30</mat-hint>
                <mat-error *ngIf="form.get('nameShop').hasError('minlength')">Tên shop phải ít nhất từ 5-30 ký tự.</mat-error>
                <mat-error *ngIf="form.get('nameShop').hasError('required')">Vui lòng nhập tên shop</mat-error>
            </mat-form-field>

            <mat-form-field class="form_field" appearance="outline">
                <mat-label>Mô tả đại lý</mat-label>
                <textarea
                  style="height: 150px;"
                  #inputDes
                  matInput
                  type="text"
                  formControlName = "desShop"
                  placeholder="Mô tả đại lý">
                </textarea>
                <mat-hint align = "end">{{inputDes.value?.length || 0}}/5000</mat-hint>
            </mat-form-field>
            <div class="btn-action">
              <button mat-stroked-button color="warn" class="btn-item" style="margin-right: 1rem;">Hủy</button>
              <button type="submit" mat-raised-button color="primary" class="btn-item" (click)="onSaveInfo()">Lưu & hiển thị</button>
            </div>
          </form>
      </div>
                    
                        
      <div class="info2"> 
          <div class="action">
              <mat-card style="margin-bottom: 1rem;">
                <tr style="width: 100%;">
                  <td>Thay đổi mật khẩu</td>
                  <td  style="width: 5%;">
                    <button mat-stroked-button color="warn" (click)="showChangePass = !showChangePass">
                      <span *ngIf="!showChangePass">Đặt lại mật khẩu</span>
                      <span *ngIf="showChangePass">Hủy</span>
                    </button>
                  </td>
                </tr>
              </mat-card>
              <mat-card class="change-pass" *ngIf="showChangePass">
                <form style="width: 100%;" (submit)='chagePassword(formChangePass)' #formChangePass = 'ngForm'>
                  <div class="change-pass-item">
                    <h5>Nhập mật khẩu mới:</h5>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Nhập mật khẩu mới:</mat-label>
                      <input 
                        type="password"
                        matInput placeholder=""
                        name = "passwordChange"
                        ngModel
                        #passwordChange = 'ngModel'
                        required
                        >
                        <mat-error *ngIf="passwordChange.invalid">Vui lòng nhập mật khẩu.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="change-pass-item">
                    <h5>Nhập lại mật khẩu mới:</h5>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Nhập lại mật khẩu mới:</mat-label>
                      <input 
                        type="password" 
                        matInput placeholder=""
                        name = "rePasswordChange"
                        ngModel
                        #rePasswordChange = 'ngModel'
                        required
                        >
                        <mat-error *ngIf="rePasswordChange.invalid">Vui lòng nhập mật khẩu.</mat-error>
                    </mat-form-field>
                  </div>
                  <div style="margin: 1rem;">
                    <button mat-stroked-button color="accent" (click) = "cancelChangePass()">Hủy</button>
                    <button type="submit" mat-raised-button color="primary" style="margin-left: 1rem;">Lưu thay đổi</button>
                  </div>
                </form>
                
              </mat-card>
              <mat-card>
                <tr style="width: 100%;">
                  <td>Xóa tài khoản</td>
                  <td style="width: 5%;"><button mat-stroked-button color="warn" (click) = "deleteAccount()">Xóa</button></td>
                </tr>
              </mat-card>
            </div>
      </div>
    </div>
</mat-card>