<mat-card style="padding: 4rem 5rem">
    <h3>Hồ Sơ Shop</h3>
    <p style="font-size: 13px; color: #999;">Xem tình trạng Shop và cập nhật hồ sơ Shop của bạn.</p>
    <form 
    [formGroup] = 'form'
    >

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Thông tin cơ bản" style="color: purple; font-weight: 500;">
                <div class="info">
                    <div class="info1">
                        <div class="image_cover_upload">
                            <input type="file" #filePickerCover (change) = "onPickImage($event)">
                            <img 
                                [src]="imagePreview" 
                                *ngIf="imagePreview !== '' && imagePreview && form.get('imageCover').valid">
                            <button 
                            mat-stroked-button 
                            color="primary" 
                            class="edit_image_cover" (click) = "filePickerCover.click()">Sửa ảnh bìa</button>
                        </div>
                        <div>
                            <mat-list>
                                <mat-list-item>Giao diện shop trên máy tính</mat-list-item>
                                <mat-list-item>Sản phẩm</mat-list-item>
                                <mat-list-item>Tỉ lệ phản hồi</mat-list-item>
                                <mat-list-item>Thời gian phản hồi</mat-list-item>
                                <mat-list-item>Đánh giá shop</mat-list-item>
                                <mat-list-item>Tỉ lệ đơn không thành công</mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                    <div class="info2">
                        
                        <div class="info_user">
                            <div class="image_cover_upload_avt">
                                <input type="file" #filePickerAvt (change) = "onPickImageAvt($event)">
                                <img 
                                    [src]="imagePreviewAvt" 
                                    *ngIf="imagePreviewAvt !== '' && imagePreviewAvt && form.get('imageAvt').valid">
                                <button 
                                mat-stroked-button 
                                color="primary" 
                                class="edit_image_cover" (click) = "filePickerAvt.click()">Sửa</button>
                            </div>
                            <div class="info_user_des">
                                <div>
                                    <mat-list-item style="font-size: 18px; color: purple; font-weight: 500;">{{username || ''}}</mat-list-item>
                                    <mat-list-item>Đã tham gia: {{createdAt}}</mat-list-item>
                                    <mat-list-item>Người theo dõi: </mat-list-item>
                                    <mat-list-item>Theo dõi: </mat-list-item>
                                </div>
                            </div>
                        </div>
                            

                        <mat-form-field class="form_field" appearance="outline">
                            <mat-label>Tên Shop</mat-label>
                            <input
                            #inputName
                            matInput
                            minlength = '5'
                            type="text"
                            formControlName = "nameShop"
                            placeholder="Tên Shop">
                            <mat-hint align = "end">{{inputName.value?.length || 0}}/30</mat-hint>
                            <mat-error *ngIf="form.get('nameShop').hasError('minlength')">Tên shop phải ít nhất từ 5-30 ký tự.</mat-error>
                            <mat-error *ngIf="form.get('nameShop').hasError('required')">Vui lòng nhập tên shop</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form_field" appearance="outline">
                            <mat-label>Mô tả shop</mat-label>
                            <textarea
                              style="height: 150px;"
                              #inputDes
                              matInput
                              type="text"
                              formControlName = "desShop"
                              placeholder="Mô tả shop">
                            </textarea>
                            <mat-hint align = "end">{{inputDes.value?.length || 0}}/5000</mat-hint>
                          </mat-form-field>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="btn-action">
            <button mat-stroked-button color="warn" class="btn-item" style="margin-right: 1rem;">Hủy</button>
            <button type="submit" mat-raised-button color="primary" class="btn-item" (click)="onSaveInfo()">Lưu & hiển thị</button>
          </div>
    </form>
</mat-card>